﻿@model Elevator.PhotoJunk.Site.Models.Album.UserAlbumsModel

@{
	ViewBag.Title = "Albums by " + Model.UserName;
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
	$().ready(function () {
		$(".ajax_result").on("click", ".page-number", function () {
			var userName = '@Model.UserName';
			var page = parseInt($(this).html()) - 1;

			FillAndSendRequest(userName, page);
		});
	});

	function FillAndSendRequest(userName, page) {
		$.ajax({
			type: 'POST',
			url: '@Url.Action("AlbumsByUserPage")',
			data: { "userName": userName, "page": page },
			success: function (data) {
				$(".ajax_result").html(data);
			}
		});
	}
</script>

<h2>
	Albums by <a href='@Url.Action("Show", "User", new {name = Model.UserName})'>@Model.UserName</a>
</h2>

<div class="ajax_result">
	@Html.Partial("AlbumsAnonymousListPartial", Model.Albums)
</div>