﻿@model Elevator.PhotoJunk.Site.Models.Album.AlbumEditModel

@section Scripts {
	@Scripts.Render("~/bundles/jqueryval")
}

@{
	ViewBag.Title = "Edit";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Model.IsNew)
{
	<h2>Add album</h2>
}
else
{
	<h2>Edit album</h2>
}

@if (!Model.IsNew)
{
	<div class="photo">
		<img src='@Url.Content(Model.CoverImageFileName)' alt="@Model.Title" class="photo_img" />
	</div>
}

@using (Html.BeginForm("Save", "Album", null, FormMethod.Post, new {@class = "form", enctype = "multipart/form-data"}))
{
	@Html.ValidationSummary()

	@Html.HiddenFor(m => m.Id)
	@Html.HiddenFor(m => m.IsNew)
	@Html.HiddenFor(m => m.AuthorId)

	<div class="form_row">
		<div class="form_label">@Html.LabelFor(m => m.CoverImageFile)</div>
		<div class="form_field">@Html.TextBoxFor(m => m.CoverImageFile, new {@class = "file", type = "file"})</div>
	</div>
	<div class="form_row">
		<div class="form_label">@Html.LabelFor(m => m.Title)</div>
		<div class="form_field">@Html.TextBoxFor(m => m.Title, new {@class = "line"})</div>
	</div>
	<div class="form_row">
		<div class="form_label">@Html.LabelFor(m => m.Description)</div>
		<div class="form_field">@Html.TextAreaFor(m => m.Description, new {@class = "multiline"})</div>
	</div>
	<input type="submit" value="Save album" />
}