﻿@model Elevator.PhotoJunk.Logic.Pagination.PagedData<Elevator.PhotoJunk.Site.Models.Album.AlbumThumbnail>

@{
	ViewBag.Title = "Albums";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
	$().ready(function() {
		$(".ajax_result").on("click", ".page-number", function () {
			var keywords = $(".search_line .search_field input").val();
			var page = parseInt($(this).html()) - 1;

			FillAndSendRequest(keywords, page);
		});

		$(".search_line").on("click", ".search_button input", function () {
			var keywords = $(".search_line .search_field input").val();
			var page = 0;

			FillAndSendRequest(keywords, page);
		});

		$(".search_line .search_field input").on("keypress", function(ev) {
			var keycode = (ev.keyCode ? ev.keyCode : ev.which);
			if (keycode == '13') {
				var keywords = $(".search_line .search_field input").val();
				var page = 0;

				FillAndSendRequest(keywords, page);
			}
		});
	});

	function FillAndSendRequest(keywords, page) {
		$.ajax({
			type: 'POST',
			url: '@Url.Action("IndexPage")',
			data: { "page": page, "keyWords": keywords },
			dataType: 'html',
			success: function (data) {
				$(".ajax_result").html(data);
			}
		});
	}
</script>

<h2>
	Albums
	@if (Request.IsAuthenticated)
	{
		<a class="myref" href='@Url.Action("MyAlbums")'>(your albums)</a>
	}
</h2>

<div class="search_line">
	<div class="search_field"><input type="text" class="line" /></div>
	<div class="search_button"><input type="submit" value="Find" /></div>
	<div class="advanced_search_link"><a href='@Url.Action("Search")'>Advanced search</a></div>
</div>

<div class="ajax_result">
	@Html.Partial("AlbumsListPartial", Model)
</div>
