﻿@model Elevator.PhotoJunk.Site.Models.Album.AlbumManageModel

@section Scripts {
	@Scripts.Render("~/bundles/jqueryval")
}

@{
	ViewBag.Title = "ManagePhotos";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Select photos for album "@Model.Album.Title"</h2>


<div class="album">
	<img src='@Url.Content(Model.Album.CoverFileName)' alt="@Model.Album.Title" class="photo_img" />
</div>

@using (Html.BeginForm("Manage", "Album", null, FormMethod.Post))
{
	@Html.ValidationSummary()
	@Html.HiddenFor(m => m.Album.AlbumId)

	<div class="thumbnail_container work_area">
		@for (int i = 0; i < Model.Photos.Count; ++i)
		{
			<div class="thumb">
				@Html.CheckBoxFor(m => m.Photos[i].Checked)
				@Html.HiddenFor(m => m.Photos[i].Photo.PhotoId)
				<a href='@Url.Action("Show", "Photo", new RouteValueDictionary {{"id", Model.Photos[i].Photo.PhotoId}})'>
					<img src='@Url.Content(Model.Photos[i].Photo.ImageFileName)' />
				</a>
				@Model.Photos[i].Photo.Title
			</div>
		}
	</div>
	<input type="submit" value="Save album" />
}

