﻿@model Elevator.PhotoJunk.Logic.Pagination.PagedData<Elevator.PhotoJunk.Site.Models.Album.AlbumThumbnail>

@{
	ViewBag.Title = "Your albums";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
	$().ready(function () {
		$(".ajax_result").on("click", ".page-number", function () {
			var userName = '@User.Identity.Name';
			var page = parseInt($(this).html()) - 1;

			FillAndSendRequest(userName, page);
		});
	});

	function FillAndSendRequest(userName, page) {
		$.ajax({
			type: 'POST',
			url: '@Url.Action("AlbumsByUserPage")',
			data: { "userName": userName, "page": page },
			success: function (data) {
				$(".ajax_result").html(data);
			}
		});
	}
</script>

@if (Request.IsAuthenticated)
{
	<h2>
		Your albums
	</h2>
	<a href='@Url.Action("Create", "Album")'>Add new one</a>

	<div class="ajax_result">
		@Html.Partial("AlbumsAnonymousListPartial", Model)
	</div>
}
else
{
	<h2>
		Please log in first
	</h2>
}
