﻿@model Elevator.PhotoJunk.Site.Models.Album.AlbumShowModel

@{
	ViewBag.Title = "Album: " + Model.Title;
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
	$().ready(function () {
		$(".ajax_result").on("click", ".page-number", function () {
			var albumName = '@Model.Title';
			var page = parseInt($(this).html()) - 1;

			FillAndSendRequest(albumName, page);
		});
	});

	function FillAndSendRequest(albumName, page) {
		$.ajax({
			type: 'POST',
			url: '@Url.Action("PhotosInAlbumPage")',
			data: { "albumName": albumName, "page": page },
			dataType: 'html',
			success: function (data) {
				$(".ajax_result").html(data);
			}
		});
	}
</script>

<h2>@Model.Title</h2>

@Html.HiddenFor(model => model.Id)
@Html.HiddenFor(model => model.AuthorId)
@Html.HiddenFor(model => model.AuthorEmail)

@if (Request.IsAuthenticated && User.Identity.Name == Model.AuthorName)
{
	<div class="context_menu">
		<a class="context_menu_item" href='@Url.Action("Edit", new {id = Model.Id})'>
			Edit
		</a>
		<a class="context_menu_item" href='@Url.Action("Manage", new {id = Model.Id})'>
			Manage
		</a>
		<a class="context_menu_item" href='@Url.Action("Delete", new {id = Model.Id})'>
			Delete
		</a>
	</div>
}

<div class="album">
	<img src='@Url.Content(Model.CoverImageFileName)' alt="@Model.Title" class="photo_img" />
</div>

<a class="link"
   onclick="return ShowShareWindow('@Url.RouteUrl("ShortAlbumRef", new RouteValueDictionary {{"name", Model.Title}}, "http", "localhost")');"
   href='@Url.RouteUrl("ShortAlbumRef", new RouteValueDictionary {{"name", Model.Title}}, "http", "localhost")'>
	Share
</a>

<p class="card_row">
	<b class="card_label">Author:</b>
	@if (Request.IsAuthenticated && User.Identity.Name == Model.AuthorName)
	{
		@:&nbsp;you
	}
	else
	{
		@:&nbsp;<a href='@Url.Action("Show", "User", new {name = Model.AuthorName})'>@Model.AuthorName</a>
	}
</p>
<p class="card_row">
	<b class="card_label">Description:</b>&nbsp;@Model.Description
</p>
<p class="card_row">
	<b class="card_label">Upload date:</b>&nbsp;@Model.UploadDate
</p>


@if (Model.Photos != null)
{
	if (Model.Photos.Any())
	{
		<h2>Photos:</h2>
	<div class="ajax_result">
		@Html.Partial("PhotosListPartial", Model.Photos)
	</div>
	}
	else
	{
		<h2><a href='@Url.Action("Manage", new {id = Model.Id})'>Add</a> some photos!</h2>
	}
}
