﻿@model Elevator.PhotoJunk.Site.Models.Auth.LocalPasswordModel

@using (Html.BeginForm("ChangePassword", "User", null, FormMethod.Post, new { @class = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <legend>Change Password</legend>
        <div class="form_row">
            <div class="form_label">@Html.LabelFor(m => m.OldPassword)</div>
            <div class="form_field">@Html.PasswordFor(m => m.OldPassword, new { @class = "line" })</div>
        </div>
        <div class="form_row">
            <div class="form_label">@Html.LabelFor(m => m.NewPassword)</div>
            <div class="form_field">@Html.PasswordFor(m => m.NewPassword, new { @class = "line" })</div>
        </div>
        <div class="form_row">
            <div class="form_label">@Html.LabelFor(m => m.ConfirmPassword)</div>
            <div class="form_field">@Html.PasswordFor(m => m.ConfirmPassword, new { @class = "line" })</div>
        </div>
		<input type="submit" value="Change password" />
    </fieldset>
}
