﻿@using Elevator.PhotoJunk.Site.Models.Auth
@using Elevator.PhotoJunk.Site.Models.User
@model UserManageModel

@section Scripts {
	@Scripts.Render("~/bundles/jqueryval")
}

@{
	ViewBag.Title = "Manage profile";
}

<h2>Manage profile</h2>

<p class="message-success">@ViewBag.StatusMessage</p>

<div class="photo">
	<a href='@Url.Content(Model.AvatarImageFileName)'>
		<img src='@Url.Content(Model.AvatarImageFileName)' alt="@Model.Nickname" class="photo_img" />
	</a>
</div>

@using (Html.BeginForm("Save", "User", null, FormMethod.Post, new {@class = "form", enctype = "multipart/form-data"}))
{
	@Html.AntiForgeryToken()
	@Html.ValidationSummary()

	<fieldset>
		<legend>Edit profile</legend>
		<div class="form_row">
			<div class="form_label">@Html.LabelFor(m => m.AvatarImageFile)</div>
			<div class="form_field">@Html.TextBoxFor(m => m.AvatarImageFile, new {@class = "file", type = "file"})</div>
		</div>
		<div class="form_row">
			<div class="form_label">@Html.LabelFor(m => m.Nickname)</div>
			<div class="form_field">@Html.TextBoxFor(m => m.Nickname, new {@class = "line"})</div>
		</div>
		<div class="form_row">
			<div class="form_label">@Html.LabelFor(m => m.FirstName)</div>
			<div class="form_field">@Html.TextBoxFor(m => m.FirstName, new {@class = "line"})</div>
		</div>
		<div class="form_row">
			<div class="form_label">@Html.LabelFor(m => m.MiddleName)</div>
			<div class="form_field">@Html.TextBoxFor(m => m.MiddleName, new { @class = "line" })</div>
		</div>
		<div class="form_row">
			<div class="form_label">@Html.LabelFor(m => m.LastName)</div>
			<div class="form_field">@Html.TextBoxFor(m => m.LastName, new {@class = "line"})</div>
		</div>
		<div class="form_row">
			<div class="form_label">@Html.LabelFor(m => m.Location)</div>
			<div class="form_field">@Html.TextBoxFor(m => m.Location, new {@class = "line"})</div>
		</div>
		<div class="form_row">
			<div class="form_label">@Html.LabelFor(m => m.Description)</div>
			<div class="form_field">@Html.TextAreaFor(m => m.Description, new {@class = "multiline"})</div>
		</div>
		<div class="form_row">
			<div class="form_label"></div>
			<div class="form_field">
				@Html.CheckBoxFor(m => m.IsPremium)
				@Html.LabelFor(m => m.IsPremium, new { @class = "checkbox" })
			</div>
		</div>
		<input type="submit" value="Save profile" />
	</fieldset>
}

@Html.Partial("_ChangePasswordPartial", new LocalPasswordModel())
