﻿@model Elevator.PhotoJunk.Site.Models.User.UserSearchModel

@section Scripts {
	@Scripts.Render("~/bundles/jqueryval")
}

@{
	ViewBag.Title = "Search authors";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
	$().ready(function() {

		$("#search_button").on("click", function() {
			var searchModel = GetSearchModel();
			FillAndSendRequest(searchModel, 0);
		});

		$(".form_field input").on("keypress", function (ev) {
			var keycode = (ev.keyCode ? ev.keyCode : ev.which);
			if (keycode == '13') {
				var searchModel = GetSearchModel();
				FillAndSendRequest(searchModel, 0);
			}
		});

		$(".ajax_result").on("click", ".page-number", function () {
			var searchModel = GetSearchModel();
			var page = parseInt($(this).html()) - 1;

			FillAndSendRequest(searchModel, page);
		});
	});

	function GetSearchModel() {
		return {
			Name: $("#name_field").val(),
			Email: $("#email_field").val(),
			Location: $("#location_field").val(),
			Descriprion: $("#description_field").val(),
			RegistrationPeriodStart: $("#registrationPeriodStart_field").val(),
			RegistrationPeriodEnd: $("#registrationPeriodEnd_field").val(),
			IsPremium: $("#isPremium_field")[0].checked,
		};
	}

	function FillAndSendRequest(searchModel, page) {
		var args = {
			model: searchModel,
			page: page
		};

		$.ajax({
			type: 'POST',
			url: '@Url.Action("SearchPage")',
			data: JSON.stringify(args),
			dataType: 'html',
			contentType: 'application/json; charset=utf-8',
			success: function(data) {
				var target = $(".ajax_result");
				target.empty();
				target.append("<h2>Results:</h2>");
				target.append("<text>" + data + "</text>");
			},
			failure: function() {
				var target = $(".ajax_result");
				target.empty();
				target.append("<h2>Something went wrong diring a request</h2>");
			},
		});
	}
</script>

<h2>Search authors</h2>

<div class="form">
	<div class="form_row">
		<div class="form_label">@Html.LabelFor(m => m.Name)</div>
		<div class="form_field">@Html.TextBoxFor(m => m.Name, new {id = "name_field", @class = "line"})</div>
	</div>
	<div class="form_row">
		<div class="form_label">@Html.LabelFor(m => m.Email)</div>
		<div class="form_field">@Html.TextBoxFor(m => m.Email, new {id = "email_field", @class = "line"})</div>
	</div>
	<div class="form_row">
		<div class="form_label">@Html.LabelFor(m => m.Location)</div>
		<div class="form_field">@Html.TextBoxFor(m => m.Location, new {id = "location_field", @class = "line"})</div>
	</div>
	<div class="form_row">
		<div class="form_label">@Html.LabelFor(m => m.Description)</div>
		<div class="form_field">@Html.TextBoxFor(m => m.Description, new {id = "decription_field", @class = "line"})</div>
	</div>
	<div class="form_row">
		<div class="form_label">@Html.LabelFor(m => m.RegistrationPeriodStart)</div>
		<div class="form_field">@Html.TextBoxFor(m => m.RegistrationPeriodStart, new {id = "registrationPeriodStart_field", @class = "line"})</div>
	</div>
	<div class="form_row">
		<div class="form_label">@Html.LabelFor(m => m.RegistrationPeriodEnd)</div>
		<div class="form_field">@Html.TextBoxFor(m => m.RegistrationPeriodEnd, new {id = "registrationPeriodEnd_field", @class = "line"})</div>
	</div>
	<div class="form_row">
		<div class="form_label"></div>
		<div class="form_field">
			@Html.CheckBoxFor(m => m.IsPremium, new {id = "isPremium_field"})
			@Html.LabelFor(m => m.IsPremium, new {@class = "checkbox"})
		</div>
	</div>
	<input id="search_button" type="submit" value="Find" />
</div>

<div class="ajax_result">
</div>
