﻿@model Elevator.PhotoJunk.Site.Models.User.UserShowModel

@{
	ViewBag.Title = "User: " + Model.Nickname;
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
	$().ready(function () {
		$(".photos_ajax_result").on("click", ".page-number", function () {
			var userId = '@Model.Id';
			var page = parseInt($(this).html()) - 1;

			FillAndSendRequestForPhotos(userId, page);
		});

		$(".albums_ajax_result").on("click", ".page-number", function () {
			var userId = '@Model.Id';
			var page = parseInt($(this).html()) - 1;

			FillAndSendRequestForAlbums(userId, page);
		});
	});

	function FillAndSendRequestForPhotos(userId, page) {
		$.ajax({
			type: 'POST',
			url: '@Url.Action("PhotosByAuthorPage")',
			data: { "userId": userId, "page": page },
			dataType: 'html',
			success: function(data) {
				$(".photos_ajax_result").html(data);
			}
		});
	}

	function FillAndSendRequestForAlbums(userId, page) {
		$.ajax({
			type: 'POST',
			url: '@Url.Action("AlbumsByAuthorPage")',
			data: { "userId": userId, "page": page },
			dataType: 'html',
			success: function(data) {
				$(".albums_ajax_result").html(data);
			}
		});
	}
</script>

@Html.HiddenFor(user => user.Id)

<h2>@Model.Nickname</h2>

@if (Request.IsAuthenticated && User.Identity.Name == Model.Nickname)
{
	<div class="context_menu">
		<a class="context_menu_item" href='@Url.Action("Manage", new {id = Model.Nickname})'>
			Manage your profile
		</a>
	</div>
}

<div class="photo">
	<a href='@Url.Content(Model.AvatarImageFileName)'>
		<img src='@Url.Content(Model.AvatarImageFileName)' alt="@Model.Nickname" class="photo_img" />
	</a>
</div>

<p class="card_row">
	<b class="card_label">Name:</b>&nbsp;@Model.FirstName @Model.MiddleName @Model.LastName
</p>
<p class="card_row">
	<b class="card_label">Location:</b>&nbsp;@Model.Location
</p>
<p class="card_row">
	<b class="card_label">Registered:</b>&nbsp;@Model.RegistrationDate
</p>
<p class="card_row">
	<b class="card_label">About:</b>&nbsp;@Model.Description
</p>

@if (Model.IsPremium)
{
	<p class="card_row">
		Premium user
	</p>
}

@if (Model.Photos != null)
{
	if (Model.Photos.Any())
	{
		<h2>Photos by @Model.Nickname</h2>
		<div class="photos_ajax_result">
			@Html.Partial("PhotosAnonymousListPartial", Model.Photos)
		</div>
	}
	else
	{
		<h2>@Model.Nickname still haven't uploaded any photo</h2>
	}
}

@if (Model.Albums != null)
{
	if (Model.Albums.Any())
	{
		<h2>Albums by @Model.Nickname</h2>
		<div class="albums_ajax_result">
			@Html.Partial("AlbumsAnonymousListPartial", Model.Albums)
		</div>
	}
	else
	{
		<h2>@Model.Nickname still doesn't have any album</h2>
	}
}
