﻿@model Elevator.PhotoJunk.Site.Models.Auth.LoginModel

@section Scripts {
	@Scripts.Render("~/bundles/jqueryval")
}

@{
	ViewBag.Title = "Log in";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Login", "Auth", new { ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form" }))
{
	@Html.AntiForgeryToken()
	@Html.ValidationSummary(true)

	<div class="form_row">
		<div class="form_label">@Html.LabelFor(m => m.UserName)</div>
		<div class="form_field">@Html.TextBoxFor(m => m.UserName, new {@class = "line"})</div>
		<div class="form_message">@Html.ValidationMessageFor(m => m.UserName)</div>
	</div>
	<div class="form_row">
		<div class="form_label">@Html.LabelFor(m => m.Password)</div>
		<div class="form_field">@Html.PasswordFor(m => m.Password, new {@class = "line"})</div>
		<div class="form_message">@Html.ValidationMessageFor(m => m.Password)</div>
	</div>
	<div class="form_row">
		<div class="form_label"></div>
		<div class="form_field">
			@Html.CheckBoxFor(m => m.RememberMe)
			@Html.LabelFor(m => m.RememberMe, new {@class = "checkbox"})
		</div>
	</div>
	<input type="submit" value="Log in" />
	<p>
		@Html.ActionLink("Register", "Register") if you don't have an account.
	</p>
}
