﻿@model Elevator.PhotoJunk.Site.Models.Auth.RegisterModel

@section Scripts {
	@Scripts.Render("~/bundles/jqueryval")
}

@{
	ViewBag.Title = "Register";
}

<h2>Create a new account</h2>

@using (Html.BeginForm("Register", "Auth", null, FormMethod.Post, new { @class = "form" }))
{
	@Html.AntiForgeryToken()
	@Html.ValidationSummary()

	<div class="form_row">
		<div class="form_label">@Html.LabelFor(m => m.Email)</div>
		<div class="form_field">@Html.TextBoxFor(m => m.Email, new {@class = "line"})</div>
		<div class="form_message">@Html.ValidationMessageFor(m => m.Email)</div>
	</div>
	<div class="form_row">
		<div class="form_label">@Html.LabelFor(m => m.UserName)</div>
		<div class="form_field">@Html.TextBoxFor(m => m.UserName, new {@class = "line"})</div>
		<div class="form_message">@Html.ValidationMessageFor(m => m.UserName)</div>
	</div>
	<div class="form_row">
		<div class="form_label">@Html.LabelFor(m => m.Password)</div>
		<div class="form_field">@Html.PasswordFor(m => m.Password, new {@class = "line"})</div>
		<div class="form_message">@Html.ValidationMessageFor(m => m.Password)</div>
	</div>
	<div class="form_row">
		<div class="form_label">@Html.LabelFor(m => m.ConfirmPassword)</div>
		<div class="form_field">@Html.PasswordFor(m => m.ConfirmPassword, new {@class = "line"})</div>
		<div class="form_message">@Html.ValidationMessageFor(m => m.ConfirmPassword)</div>
	</div>
	<input type="submit" value="Register" />
}
