﻿<!DOCTYPE html>
<html lang="en" class="alter_outer_bg">
<head>
	<meta charset="utf-8" />
	<title>@ViewBag.Title - Photo-junk</title>
	<link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
	<meta name="viewport" content="width=device-width" />
	@Styles.Render("~/Content/css")
	@Scripts.Render("~/bundles/modernizr")
	@Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/bundles/aux")
</head>
<body class="alter_outer_bg">
	@RenderSection("scripts", false)
	<div id="header" class="alter_bg">
		<h1 class="logo">
			<a href="~/">
				Photo-junk
			</a>
		</h1>
	</div>
	<div id="page">
		<div id="navcontainer">
			<div id="menu">
				<ul id="navlist">
					<li>@Html.ActionLink("Photos", "Index", "Photo")</li>
					<li>@Html.ActionLink("Albums", "Index", "Album")</li>
					<li>@Html.ActionLink("Authors", "Index", "User")</li>
					<li>@Html.ActionLink("About", "About", "Home")</li>
				</ul>
			</div>
			<div id="login">
				@Html.Partial("_LoginPartial")
			</div>
		</div>
		<div id="pageinner">
			<div id="content">
				@RenderSection("featured", false)
				<section class="clear-fix">
					@RenderBody()
				</section>
			</div>
		</div>
		<div id="footer" class="alter_bg">
			<div class="float-left">
				<p>
					<span class="alter_bg_trigger">&copy;</span>
					@DateTime.Now.Year - Photo-junk
				</p>
			</div>
		</div>
	</div>
</body>
</html>