﻿@model Elevator.PhotoJunk.Site.Models.Album.AlbumThumbnail

<div class="thumb">
	<div class="thumb_img">
		<a href='@Url.Action("Show", "Album", new RouteValueDictionary {{"id", Model.AlbumId}})'>
			<img src='@Url.Content(Model.CoverFileName)' />
		</a>
	</div>
	<div class="thumb_title">@Model.Title</div>
	<div class="thumb_description">
		@if (Request.IsAuthenticated && User.Identity.Name == Model.AuthorName)
		{
			@:by&nbsp;you
		}
		else
		{
			@:by&nbsp;<a href='@Url.Action("Show", "User", new {name = Model.AuthorName})'>@Model.AuthorName</a>
		}
	</div>
</div>