﻿@model Elevator.PhotoJunk.Site.Models.Album.AlbumThumbnail

<div class="thumb">
	<div class="thumb_img">
		<a href='@Url.Action("Show", "Album", new RouteValueDictionary {{"id", Model.AlbumId}})'>
			<img src='@Url.Content(Model.CoverFileName)' />
		</a>
	</div>
	<div class="thumb_title">@Model.Title</div>
</div>
