﻿@using Elevator.PhotoJunk.Site.Models.Album
@model Elevator.PhotoJunk.Logic.Pagination.PagedData<Elevator.PhotoJunk.Site.Models.Album.AlbumThumbnail>

<div class="thumbnail_container">
	@foreach (AlbumThumbnail thumbnail in Model)
	{
		@Html.Partial("AlbumThumbnailPartial", thumbnail)
	}
</div>
@Html.Partial("Pagination", Model)