﻿@model Elevator.PhotoJunk.Logic.Pagination.IPaged

@if (Model.NumberOfPages > 1)
{
	<div class="pagination">
		@for (int i = 0; i < Model.NumberOfPages; i++)
		{
			if (i == Model.CurrentPage)
			{
				<span class="page-number">@(i + 1)</span>
			}
			else
			{
				<a class="page-number" href="javascript:void();">@(i + 1)</a>
			}
		}
	</div>
}
