﻿@using Elevator.PhotoJunk.Site.Models.Photo
@model Elevator.PhotoJunk.Logic.Pagination.PagedData<Elevator.PhotoJunk.Site.Models.Photo.PhotoThumbnail>

<div class="thumbnail_container">
	@foreach (PhotoThumbnail thumbnail in Model)
	{
		@Html.Partial("PhotoThumbnailAnonymousPartial", thumbnail)
	}
</div>
@Html.Partial("Pagination", Model)