﻿@model Elevator.PhotoJunk.Site.Models.Photo.PhotoThumbnail

<div class="thumb">
	<div class="thumb_img">
		<a href='@Url.Action("Show", "Photo", new RouteValueDictionary {{"id", Model.PhotoId}})'>
			<img src='@Url.Content(Model.ImageFileName)' />
		</a>
	</div>
	<div class="thumb_title">@Model.Title</div>
</div>