﻿@model Elevator.PhotoJunk.Site.Models.User.UserThumbnail

<div class="thumb">
	<div class="thumb_img">
		<a href='@Url.Action("Show", "User", new {name = Model.Nickname})'>
			<img src='@Url.Content(Model.AvatarImageFileName)' />
		</a>
	</div>
	<div class="thumb_title">
		<a href='@Url.Action("Show", "User", new {name = Model.Nickname})'>@Model.Nickname</a>
		@if (Request.IsAuthenticated && User.Identity.Name == Model.Nickname)
		{
			@:(it is you)
		}
	</div>
	<div class="thumb_description">
		@Model.FirstName @Model.MiddleName @Model.LastName
	</div>
</div>

