﻿@using Elevator.PhotoJunk.Site.Models.User
@model Elevator.PhotoJunk.Logic.Pagination.PagedData<Elevator.PhotoJunk.Site.Models.User.UserThumbnail>

<div class="thumbnail_container">
	@foreach (UserThumbnail thumbnail in Model)
	{
		@Html.Partial("UserThumbnailPartial", thumbnail)
	}
</div>
@Html.Partial("Pagination", Model)