﻿@model Elevator.PhotoJunk.Site.Models.Photo.PhotoEditModel

@section Scripts {
	@Scripts.Render("~/bundles/jqueryval")
}

@{
	ViewBag.Title = "Edit";
	UICulture = "en-US"; Culture = "en-US"; // for correct decimal fields displaying
	Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Model.IsNew)
{
    <h2>Add photo</h2>
}
else
{
    <h2>Edit photo</h2>
}

@if (!Model.IsNew)
{
    <div class="photo">
		<a href='@Url.Content(Model.FullImageFileName)'>
			<img src='@Url.Content(Model.ImageFileName)' alt="@Model.Title" class="photo_img" />
		</a>
    </div>
}

@using (Html.BeginForm("Save", "Photo", null, FormMethod.Post, new { @class = "form", enctype = "multipart/form-data"}))
{
    @Html.ValidationSummary()

    @Html.HiddenFor(m => m.Id)
    @Html.HiddenFor(m => m.IsNew)
    @Html.HiddenFor(m => m.AuthorId)

    <fieldset>
        <legend>Photo info</legend>
        @if (Model.IsNew)
        {
            <div class="form_row">
                <div class="form_label">@Html.LabelFor(m => m.FullImageFile)</div>
                <div class="form_field">@Html.TextBoxFor(m => m.FullImageFile, new { @class = "file", type = "file" })</div>
            </div>
        }
        <div class="form_row">
            <div class="form_label">@Html.LabelFor(m => m.Title)</div>
            <div class="form_field">@Html.TextBoxFor(m => m.Title, new { @class = "line" })</div>
        </div>
        <div class="form_row">
            <div class="form_label">@Html.LabelFor(m => m.Description)</div>
            <div class="form_field">@Html.TextAreaFor(m => m.Description, new { @class = "multiline" })</div>
        </div>
        <div class="form_row">
            <div class="form_label">@Html.LabelFor(m => m.Place)</div>
            <div class="form_field">@Html.TextBoxFor(m => m.Place, new { @class = "line" })</div>
        </div>
    </fieldset>
    <fieldset>
        <legend>Camera info</legend>
        <div class="form_row">
            <div class="form_label">@Html.LabelFor(m => m.Camera)</div>
            <div class="form_field">@Html.TextBoxFor(m => m.Camera, new { @class = "line" })</div>
        </div>
        <div class="form_row">
            <div class="form_label">@Html.LabelFor(m => m.FocalLength)</div>
            <div class="form_field">@Html.TextBoxFor(m => m.FocalLength, new { @class = "number", pattern = @"[0-9]+(,[0-9]+)?" })</div>
        </div>
        <div class="form_row">
            <div class="form_label">@Html.LabelFor(m => m.ApertureSize)</div>
            <div class="form_field">@Html.TextBoxFor(m => m.ApertureSize, new { @class = "number", pattern = @"[0-9]+(,[0-9]+)?"})</div>
        </div>
	    <div class="form_row">
		    <div class="form_label">@Html.LabelFor(m => m.IsoSpeed)</div>
		    <div class="form_field">@Html.TextBoxFor(m => m.IsoSpeed, new { @class = "number", pattern = @"[0-9]+(,[0-9]+)?" })</div>
	    </div>
		<div class="form_row">
			<div class="form_label"></div>
			<div class="form_field">
				@Html.CheckBoxFor(m => m.Flash)
				@Html.LabelFor(m => m.Flash, new { @class = "checkbox" })
			</div>
		</div>		
    </fieldset>

    <input type="submit" value="Save photo" />
}

