﻿@model Elevator.PhotoJunk.Logic.Pagination.PagedData<Elevator.PhotoJunk.Site.Models.Photo.PhotoThumbnail>

@{
	ViewBag.Title = "Your photos";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
	$().ready(function () {
		$(".ajax_result").on("click", ".page-number", function () {
			var userName = '@User.Identity.Name';
			var page = parseInt($(this).html()) - 1;

			FillAndSendRequest(userName, page);
		});
	});

	function FillAndSendRequest(userName, page) {
		$.ajax({
			type: 'POST',
			url: '@Url.Action("PhotosByUserPage")',
			data: { "userName": userName, "page": page },
			success: function (data) {
				$(".ajax_result").html(data);
			}
		});
	}
</script>

@if (Request.IsAuthenticated)
{
	<h2>
		Your photos
	</h2>
	<a href='@Url.Action("Add", "Photo")'>Add new one</a>

	<div class="ajax_result">
		@Html.Partial("PhotosAnonymousListPartial", Model)
	</div>
}
else
{
	<h2>
		Please log in first
	</h2>
}
