﻿@model Elevator.PhotoJunk.Site.Models.Photo.PhotoSearchModel

@section Scripts {
	@Scripts.Render("~/bundles/jqueryval")
}

@{
	ViewBag.Title = "Search photos";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
	$().ready(function() {

		$("#search_button").on("click", function() {
			var searchModel = GetSearchModel();
			FillAndSendRequest(searchModel, 0);
		});

		$(".form_field input").on("keypress", function (ev) {
			var keycode = (ev.keyCode ? ev.keyCode : ev.which);
			if (keycode == '13') {
				var searchModel = GetSearchModel();
				FillAndSendRequest(searchModel, 0);
			}
		});

		$(".ajax_result").on("click", ".page-number", function () {
			var searchModel = GetSearchModel();
			var page = parseInt($(this).html()) - 1;

			FillAndSendRequest(searchModel, page);
		});
	});

	function GetSearchModel() {
		return {
			Title: $("#title_field").val(),
			Descriprion: $("#description_field").val(),
			Place: $("#place_field").val(),
			Camera: $("#camera_field").val(),
			AuthorName: $("#author_field").val()
		};
	}

	function FillAndSendRequest(searchModel, page) {
		var args = {
			model: searchModel,
			page: page
		};

		$.ajax({
			type: 'POST',
			url: '@Url.Action("SearchPage")',
			data: JSON.stringify(args),
			dataType: 'html',
			contentType: 'application/json; charset=utf-8',
			success: function(data) {
				var target = $(".ajax_result");
				target.empty();
				target.append("<h2>Results:</h2>");
				target.append("<text>" + data + "</text>");
			},
			failure: function() {
				var target = $(".ajax_result");
				target.empty();
				target.append("<h2>Something went wrong diring a request</h2>");
			},
		});
	}
</script>

<h2>Search photos</h2>
<div class="form">
	<div class="form_row">
		<div class="form_label">@Html.LabelFor(m => m.Title)</div>
		<div class="form_field">@Html.TextBoxFor(m => m.Title, new {id = "title_field", @class = "line"})</div>
	</div>
	<div class="form_row">
		<div class="form_label">@Html.LabelFor(m => m.AuthorName)</div>
		<div class="form_field">@Html.TextBoxFor(m => m.AuthorName, new {id = "author_field", @class = "line"})</div>
	</div>
	<div class="form_row">
		<div class="form_label">@Html.LabelFor(m => m.Place)</div>
		<div class="form_field">@Html.TextBoxFor(m => m.Place, new {id = "place_field", @class = "line"})</div>
	</div>
	<div class="form_row">
		<div class="form_label">@Html.LabelFor(m => m.Descriprion)</div>
		<div class="form_field">@Html.TextAreaFor(m => m.Descriprion, new {id = "description_field", @class = "multiline"})</div>
	</div>
	<div class="form_row">
		<div class="form_label">@Html.LabelFor(m => m.Camera)</div>
		<div class="form_field">@Html.TextBoxFor(m => m.Camera, new {id = "camera_field", @class = "line"})</div>
	</div>
	<input id="search_button" type="submit" value="Find" />
</div>

<div class="ajax_result">
</div>
