﻿@model Elevator.PhotoJunk.Site.Models.Photo.PhotoShowModel

@section Scripts {
	@Scripts.Render("~/bundles/ajax")
}

@{
	ViewBag.Title = "Photo: " + Model.Title;
	Layout = "~/Views/Shared/_Layout.cshtml";


	AjaxOptions likeOptions = new AjaxOptions
	{
		Url = Url.Action("Like", new {id = Model.Id}),
		HttpMethod = "POST",
		OnSuccess = "OnVoteSuccess"
	};

	AjaxOptions dislikeOptions = new AjaxOptions
	{
		Url = Url.Action("Dislike", new {id = Model.Id}),
		HttpMethod = "POST",
		OnSuccess = "OnVoteSuccess"
	};
}

<script type="text/javascript">
	function OnVoteSuccess(data) {
		if (data.success) {
			$(".vote .votes-number").text(data.dislikes);
			$(".vote .likes-number").text(data.likes);
		}
	}
</script>

<h2>@Model.Title</h2>

@Html.HiddenFor(photo => photo.Id)
@Html.HiddenFor(photo => photo.AuthorEmail)

@if (Request.IsAuthenticated && User.Identity.Name == Model.AuthorName)
{
	<div class="context_menu">
		<a class="context_menu_item" href='@Url.Action("Edit", new {id = Model.Id})'>
			Edit
		</a>
		<a class="context_menu_item" href='@Url.Action("Delete", new {id = Model.Id})'>
			Delete
		</a>
	</div>
}

<div class="photo">
	<a href='@Url.Content(Model.FullImageFileName)'>
		<img src='@Url.Content(Model.ImageFileName)' alt="@Model.Title" class="photo_img" />
	</a>
</div>

<div class="vote-share">
	<div class="vote">
		<div class="like">
			@if (Model.CanVote)
			{
				@Ajax.ActionLink("+", "Like", new { id = Model.Id }, likeOptions);
			}
			<span id="dislikes-number">@Model.Likes</span>
		</div>
		<div class="dislike">
			<span id="likes-number">@Model.Dislikes</span>
			@if (Model.CanVote)
			{
				@Ajax.ActionLink("-", "Dislike", new { id = Model.Id }, dislikeOptions);
			}
		</div>
	</div>

	<div class="share">
		<a class="link"
		   onclick="return ShowShareWindow('@Url.RouteUrl("ShortPhotoRef", new RouteValueDictionary {{"id", Model.Id}}, "http", "localhost")');"
		   href='@Url.RouteUrl("ShortPhotoRef", new RouteValueDictionary {{"id", Model.Id}}, "http", "localhost")'>
			Share
		</a>
	</div>
</div>


	<p class="card_row">
		<b class="card_label">Author:</b>
		@if (Request.IsAuthenticated && User.Identity.Name == Model.AuthorName)
		{
			@:&nbsp;you
	   	} else { @: &nbsp;<a href='@Url.Action("Show", "User", new {name = Model.AuthorName})'>@Model.AuthorName</a>
	}
	</p>
	<p class="card_row">
		<b class="card_label">Description:</b>&nbsp;@Model.Description
	</p>
	<p class="card_row">
		<b class="card_label">Place:</b>&nbsp;@Model.Place
	</p>
	<p class="card_row">
		<b class="card_label">Uploaded:</b>&nbsp;@Model.UploadDate
	</p>
	<p class="card_row">
		<b class="card_label">Camera:</b>&nbsp;@Model.Camera
	</p>
	<p class="card_row">
		<b class="card_label">Focal length:</b>&nbsp;@Model.FocalLength
	</p>
	<p class="card_row">
		<b class="card_label">Aperture size:</b>&nbsp;@Model.ApertureSize
	</p>
	<p class="card_row">
		<b class="card_label">ISO speed:</b>&nbsp;@Model.IsoSpeed
	</p>
	<p class="card_row">
		<b class="card_label">@(Model.Flash ? "Flash" : "No flash")</b>
	</p>
