﻿html {
	background-color: #000;
	margin: 0;
	padding: 0;
}

body {
	background-color: #000;
	color: #333;
	font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
	font-size: .85em;
	margin: 0;
	padding: 0;
}

a {
	color: #333;
	outline: none;
	text-decoration: underline;
}

	a:link, a:visited,
	a:active, a:hover {
		color: #333;
	}

	a.link {
		text-decoration: none;
		border-bottom: 1px dashed #333;
	}


mark {
	background-color: #a6dbed;
	padding-left: 5px;
	padding-right: 5px;
}

.float-left {
	float: left;
}

.float-right {
	float: right;
}

.clear-fix:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	visibility: hidden;
}

h1, h2 {
	color: #000;
	margin-bottom: 0;
	padding-bottom: 0;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 1.75em;
}

/* main layout
----------------------------------------------------------*/

.alter_bg {
	background-color: #c2c2c2;
}

.alter_outer_bg {
	background-color: #222;
}

#header {
	margin: 0px auto 0px;
	max-width: 1024px;
	width: 100%;
}

	#header .logo {
		background: transparent url("/Images/Logo.png") no-repeat scroll 0px 0px;
		font-size: 30px;
		margin: 0;
		padding-left: 90px;
	}

		#header .logo a {
			color: #000;
			font-weight: bold;
			line-height: 78px;
			text-decoration: none;
		}

#page {
	background-color: #efeeef;
	margin: 0px auto 0px;
	max-width: 1024px;
	overflow: hidden;
	width: 100%;
}

#pageinner {
	overflow: hidden;
	padding: 0 15px 0;
	position: relative;
}

#content {
	float: left;
	margin-bottom: 20px;
	padding: 0px;
	width: 100%;
}

	#content h2 {
		margin-top: 10px;
		margin-bottom: 10px;
		font-weight: bold;
	}

		#content h2 .myref {
			font-weight: lighter;
		}

#footer {
	clear: both;
	font-size: 10px;
	height: 30px;
	line-height: 10px;
	padding-left: 10px;
}

/* menu
----------------------------------------------------------*/

#navcontainer {
	font-size: 16px;
	line-height: 24px;
	overflow: hidden;
	padding: 13px 0px 0px;
	position: relative;
	text-align: center;
	vertical-align: middle;
}

	#navcontainer a {
		display: inline-block;
		padding-right: 10px;
		position: relative;
	}

	#navcontainer #menu {
		float: left;
		padding-left: 15px;
		vertical-align: middle;
	}


		#navcontainer #menu a {
			color: #000;
			font-weight: 700;
		}

	#navcontainer ul {
		list-style: outside none none;
		margin: 0;
		padding: 0;
		z-index: 3;
	}

		#navcontainer ul li {
			float: left;
		}


	#navcontainer #login {
		float: right;
		padding-right: 5px;
		vertical-align: middle;
	}

		#navcontainer #login a {
			color: #777;
			font-weight: normal;
		}

			#navcontainer #login a.username {
				padding: 0px 0px;
				text-decoration: underline;
			}

				#navcontainer #login a.username:hover {
					background-color: initial;
					text-decoration: underline;
				}

.context_menu {
	width: 100%;
	height: 20px;
	font-size: 16px;
	padding: 0px 0px 8px;
	position: relative;
	float: left;
	vertical-align: middle;
}

	.context_menu .context_menu_item {
		padding-right: 8px;
	}

/* page elements
----------------------------------------------------------*/

/* content */

#logoutForm {
	display: inline;
}

label {
	display: block;
	font-size: 1.2em;
	font-weight: 600;
}

	label.checkbox {
		display: inline;
	}

.work_area {
	background: #fff;
	border: 1px solid #e2e2e2;
	color: #333;
	font-size: 1.2em;
	margin: 5px 0 6px 0;
	padding: 5px;
}

.checkboxes {
	height: 200px;
	overflow-x: hidden;
	overflow-y: scroll;
}

input:focus, textarea:focus {
	border: 1px solid #7ac0da;
}

input[type="checkbox"] {
	background: transparent;
	border: inherit;
	width: auto;
}

input[type="submit"],
input[type="button"],
button {
	background-color: #d3dce0;
	border: 1px solid #787878;
	cursor: pointer;
	font-size: 1.2em;
	font-weight: 600;
	margin-right: 8px;
	padding: 7px;
	width: auto;
}

/* info and errors */

.message-info {
	border: 1px solid;
	clear: both;
	padding: 10px 20px;
}

.message-error {
	clear: both;
	color: #e80c4d;
	font-size: 1.1em;
	font-weight: bold;
	margin: 20px 0 10px 0;
}

.message-success {
	color: #7ac0da;
	font-size: 1.3em;
	font-weight: bold;
	margin: 20px 0 10px 0;
}

.error {
	color: #e80c4d;
}

/* styles for validation helpers */

.field-validation-error {
	color: #e80c4d;
	font-weight: bold;
}

.field-validation-valid {
	display: none;
}

input.input-validation-error {
	border: 1px solid #e80c4d;
}

input[type="checkbox"].input-validation-error {
	border: 0 none;
}

.validation-summary-errors {
	color: #e80c4d;
	font-size: 1.1em;
	font-weight: bold;
}

.validation-summary-valid {
	display: none;
}

.photo {
	display: block;
	margin: 0;
	text-align: center;
	vertical-align: top;
	width: 100%;
}

	.photo img {
		display: block;
		text-align: center;
		vertical-align: top;
	}

.photo_img {
	max-height: 600px;
	max-width: 100%;
}

.thumbnail_container .thumb {
	display: inline-table;
	margin: 8px 2px 8px 0px;
	text-align: center;
}

	.thumbnail_container .thumb img {
		/*width: 160px;*/
		height: 120px;
		vertical-align: top;
	}

.thumb_img {
	width: 160px;
	height: 120px;
	overflow: hidden;
	vertical-align: middle;
}

.thumb_title {
	font-size: 14px;
	font-weight: bold;
	max-width: 160px;
}

.thumb_description {
	font-size: 14px;
	font-weight: lighter;
	max-width: 160px;
}

.form {
	width: 100%;
	max-width: 500px;
}

	.form fieldset {
		border: 1px solid;
		margin: 10px 0 10px 0;
		padding: 10px;
		border-style: solid;
		border-radius: 10px;
		border-color: lightgray;
	}

		.form fieldset legend {
			font-size: 1.2em;
			font-weight: 600;
			text-align: center;
			display: block;
		}

	.form .form_row {
		display: inline-block;
		width: 100%;
	}

		.form .form_row .form_label {
			padding: 8px 10px 0px 0px;
			float: left;
			width: 25%;
			text-align: right;
		}

		.form .form_row .form_field {
			float: left;
			width: 70%;
		}

			.form .form_row .form_field input, textarea {
				background: #fff;
				border: 1px solid #e2e2e2;
				color: #333;
				margin: 5px 0 6px 0;
				padding: 5px;
				font-family: Arial;
				font-size: 1.2em;
			}

			.form .form_row .form_field .line, .file {
				width: 100%;
			}

			.form .form_row .form_field .multiline {
				width: 100%;
				height: 150px;
			}

			.form .form_row .form_field .number {
				width: 50%;
			}

			.form .form_row .form_field .checkbox {
				width: initial;
			}



.card_row {
	margin: 3px 0px;
	line-height: 16px;
	display: inline-block;
	width: 100%;
	font-size: 1.2em;
}

.card_label {
	float: left;
	width: 120px;
	text-align: right;
}

.search_line {
	display: inline-block;
	padding-bottom: 12px;
}

	.search_line input {
		padding: 5px;
		font-size: 1.2em;
	}

.search_label {
	padding: 8px 10px 0px 0px;
	float: left;
	width: 100px;
	text-align: right;
}

.search_field {
	float: left;
	width: 350px;
	padding-bottom: 2px;
}

	.search_field input {
		color: #333;
		background: #fff;
		border: 1px solid #e2e2e2;
		font-family: Arial;
	}

	.search_field .line {
		width: 330px;
	}

.search_button {
	float: left;
	padding-bottom: 2px;
}

.advanced_search_link {
	padding: 2px 0px 2px 0px;
	float: left;
}

	.advanced_search_link a {
		color: #777;
		padding: 5px;
		font-size: 1.2em;
	}

.pagination {
	display: inline-block;
	line-height: 24px;
	font-size: 14px;
	border-style: solid;
	border-width: 1px 1px;
	border-color: #DDD;
	color: #333;
	background: #FFF;
}

	.pagination .page-number {
		padding-right: 8px;
		vertical-align: middle;
		display: table-cell;
		padding-left: 8px;
	}


.vote-share {
	margin-top: 4px;
	margin-bottom: 4px;
	display: inline-block;
	line-height: 24px;
	font-size: 14px;
}

	.vote-share .vote {
		float: left;
		border-style: solid;
		border-width: 1px 1px;
		border-color: #DDD;
		color: #333;
	}

		.vote-share .vote span {
			padding-right: 4px;
			padding-left: 4px;
			vertical-align: middle;
		}

		.vote-share .vote .dislike {
			float: left;
			padding-right: 4px;
			padding-left: 4px;
			vertical-align: middle;
			background-color: #FCC;
		}

		.vote-share .vote .like {
			float: left;
			padding-right: 4px;
			padding-left: 4px;
			vertical-align: middle;
			background-color: #CFC;
		}

	.vote-share .share {
		float: left;
		vertical-align: middle;
		padding-left: 8px;
	}
