﻿@{
    ViewBag.Title = "About Photo-junk";
}

<h2>@ViewBag.Title</h2>

<article>
    <p>
        Photo-junk is an awesome place where you can post your photos. You can even create your own album and fill it with photos.
    </p>

    <p>
        This site supports screen widths down to 320 pixels. And we don't even need any stinkin "mobile" versions. This site looks great on any device you can only imagine (if it is not a calculator). But, yes, Javascript must be enabled.
    </p>

    <p>
        Welcome to Photo-junk!
    </p>

</article>
