﻿@model Elevator.PhotoJunk.Site.Models.Home.IndexModel

@{
	ViewBag.Title = "Photo-junk";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
	$().ready(function() {
		$(".photos_ajax_result").on("click", ".page-number", function () {
			var dest = $(".photos_ajax_result");
			var page = parseInt($(this).html()) - 1;

			FillAndSendRequestForPage('@Url.Action("PhotosPage")', dest, page);
		});

		$(".albums_ajax_result").on("click", ".page-number", function () {
			var dest = $(".albums_ajax_result");
			var page = parseInt($(this).html()) - 1;

			FillAndSendRequestForPage('@Url.Action("AlbumsPage")', dest, page);
		});

		$(".authors_ajax_result").on("click", ".page-number", function () {
			var dest = $(".authors_ajax_result");
			var page = parseInt($(this).html()) - 1;

			FillAndSendRequestForPage('@Url.Action("AuthorsPage")', dest, page);
		});
	});

	function FillAndSendRequestForPage(url, destControl, page) {
		$.ajax({
			type: 'POST',
			url: url,
			data: { "page": page },
			dataType: 'html',
			success: function(data) {
				destControl.html(data);
			}
		});
	}
</script>

@if (Model.Photos != null)
{
	if (Model.Photos.Any())
	{
		<h2>Photos:</h2>
		<div class="photos_ajax_result">
			@Html.Partial("PhotosListPartial", Model.Photos)
		</div>
	}
	else
	{
		<h2>We still don't have any photo. Upload the first one )!</h2>
	}
}

@if (Model.Albums != null)
{
	if (Model.Albums.Any())
	{
		<h2>Albums:</h2>
		<div class="albums_ajax_result">
			@Html.Partial("AlbumsListPartial", Model.Albums)
		</div>
	}
	else
	{
		<h2>We still don't have any album. Create the first one )!</h2>
	}
}

@if (Model.Authors != null)
{
	if (Model.Authors.Any())
	{
		<h2>Authors:</h2>
		<div class="authors_ajax_result">
			@Html.Partial("UsersListPartial", Model.Authors)
		</div>
	}
	else
	{
		<h2>Be the first registered user here!</h2>
	}
}
